@import 'variables';
@import 'mixins';
@import 'flex-mixins';

.visibility{
  opacity: .6!important;
}

.feed-wrap{
  width: 100%;
  margin-top: $margin-top;
  height: 100%;

  .happening-wrap{
    overflow: scroll;
    height: 100%;
  }

  .img-div{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    left: 0;
    top: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    transition: 3s opacity;
  }

  .happening{
    margin: 3rem 0rem;
    text-align: left;
    width: 30rem;
    margin-left: 20rem;
    position: relative;
    z-index: 1000;

      h2{
        font-size: 18px;
        line-height: 20px;
      }

      h3{
        margin-top: .5rem;
      }

      p{
        font-size: 10px;
        line-height: 18px;
        font-family: "Work Sans";
        letter-spacing: 1px;
        margin-top: .5rem;
      }
    }
}

@media (max-width: $break-tablet-landscape){

  .feed-wrap{
    width: 100%;
    margin-top: $margin-top;
    .img-div{
      position: fixed;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      z-index: 0;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0;
      transition: 3s opacity;
    }
    .happening{
      margin-left: auto;
      margin-right: auto;
      width: 45%;
    }
  }
}

@media (max-width: $break-phone){
  .feed-wrap{
    margin-top: 80px;
    .img-div{

    }
    .happening{
      width: 90%;
    }
  }



}
