@import 'variables';
@import 'mixins';
@import 'flex-mixins';

.home-wrap{
  width: 100vw;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;


  img{
    height: 400px;
  }
}

@media (max-width: $break-phone){
  .home-wrap{
    width: auto;
    height: auto;
    margin-top: 5rem;
  }
}
