@import 'variables';
@import 'mixins';
@import 'flex-mixins';

.visibility{
  opacity: .6!important;
}

.artist-wrap{
  width: 60%;
  margin-left: 20%;
  margin-top: $margin-top;

  a{
    z-index: 1000;
    position: relative;
  }

  h3{
    font-size: 14px;
    letter-spacing: $letter-spacing-h3;
    text-transform: uppercase;
    margin: .5rem 0;
  }

  .img-div{
    display: flex !important;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: -$margin-top;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    transition: 3s opacity;
  }

  .display-block{
    // display: block;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  .artist{
    text-align: left;
    box-sizing: border-box;
    position: relative;
    z-index: 1000;
    @include display-flex;
    justify-content: center;

    img{
      max-width: 100%;
    }
  }

  .item:nth-of-type(3n) {
    margin-left: 0; // remove the 'gutter' from the ones on the left hand side
  }
}

@media (max-width: $break-laptop-small){
  .artist-wrap{
    width: 100%;
    margin-left: 0;

    h3{
      font-size: $font-size-h3;
      line-height: 20px;
    }
  }
}
